body {
    font-family: "Manrope", sans-serif;
    font-size: 0.9em;
    background-color: black;
    margin: auto;
    max-width: 600px;
    color: white;
}

p {
    text-align: justify;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.presentation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border: 1px solid burlywood;
}

.presentation-texte{
    width: 100%;
}


.photo-profil img {
    border-radius: 250px;
    width: 14rem;
    height: 14rem;
    border: solid 3px black;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}

.information img {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    filter: invert();
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid burlywood;
    @media screen and (width < 600px) {
    }
}