body {
    font-family: "Manrope", sans-serif;
    font-size: 0.9em;
    background-color: black;
    margin: auto;
    max-width: 700px;
    color: white;
}

p {
    text-align: justify;
}

h1 {
    text-align: center;
    margin-block: 2rem;
}

h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-block: 2rem;
}

h3 {
    font-family: "Montserrat", sans-serif;
}

h4 {
    /*font-weight: bold;*/
    font-size: x-large;
}

a {
    color: white;
}

.presentation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

}

.presentation-texte{
    width: 100%;
}


.photo-profil img {
    border-radius: 250px;
    width: 12rem;
    height: 12rem;
}

.contact {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap:1rem;
    margin-top: 1rem;
    margin-bottom:3rem;
}

.contact img {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    filter: invert();
}

.contact-flex {
    display: flex;
    align-items: center;
    gap: 6px;
}

#logo-border {
    border-radius: 25px;
}

.card {
    display: grid;
    grid-template-columns: 280px 1fr;
    /*align-items: center;*/
    /*justify-content: space-evenly;*/
    /*border: 1px solid burlywood;*/
    padding: 2rem;
    gap:1rem;
    margin-block: 1rem;
}

.card-left {
    display: flex;
    flex-direction: column;
}

.card-left img {
    border-radius: 20px;
    max-width: 100%;
}

.card-right {
    display: flex;
    flex-direction: column;
}

.lien {
    display: flex;
    flex-direction: column;
    gap: 2px;
}