body {
    font-family: "Manrope", sans-serif;
    font-size: 0.9em;
    background-color: black;
    margin: auto;
    max-width: 600px;
    color: white;
}

p {
    text-align: justify;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.presentation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border: 1px solid burlywood;
}

.presentation-texte{
    width: 100%;
}


.photo-profil img {
    border-radius: 250px;
    width: 14rem;
    height: 14rem;
    border: solid 3px black;
}

.contact {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap:1rem;
}

.contact img {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    filter: invert();
}

.contact-flex {
    display: flex;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid burlywood;

}