.photo-profil img{
  border-radius: 250px;
  width: 14rem;
  height: 14rem;
  border-width: 4px;
  border-color: #27384C;
}

a {
display: inline-block;
background: linear-gradient(#8e86b5, #acaeed);
color: black;
border-radius: 10px;
padding: 10px;
margin:5px;
font-size: 1.2rem;
text-decoration: none;
height:25px;
width: 100px;
text-align: center;
}

a:hover{
  color: white;
}

.logo div,
.logo p{
  text-align: center;
}

.logo{
display:flex;
justify-content: center;
}

.logo img{
  width: 3rem;
  height: 3rem;
  display: inline-block;
}

.logo-droite{
left:50px;
}

.conteneur{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap:10px;
  width: 1200px;
  margin: 80px auto;
  padding: 20px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.12), 3px 3px 3px rgba(0,0,0,0.24);
  background-color: black;
  border-radius: 50px;
}

.photo-profil{
border-radius: 9999px;
border-width: 40px;
border-color: white;
top: 4rem;
left: 25rem;
position: absolute;
}

.prenom-nom{
font-size: 2rem;
left: 50rem;
position: relative;

}

body{
font-family:'Manrope', sans-serif;
font-size: 0.9em;
background-color:black;
}

.aside{
background-color:#31d8d0;
padding:10px; 
margin-top: 20px;
border-radius: 50px 0px 0px 50px;
}

.main{
background-color: #22badc;
padding: 10px;
margin-top: 40px;
border-radius: 0px 50px 50px 0px;
}

h2{
text-align: center;
font-size: 1.5rem;;
}

p{
text-align: left;
padding: 10px ;
}

h1, h2{
font-family: 'Montserrat', sans-serif;
}

h2{
  color: white;
  background-color: black;
  border-radius: 10px;
}

.banner{
background-image: url('images/image-fond-bureau.jpg');
background-size: cover;
background-size: fixed;
background-size: center;
}

.accueil-1{
background-color: #22badc;
padding: 15px;
margin-left: 650px;
margin-top: 100px;
width: 700px;
height: auto;
display:flex;
border-radius: 25px;

}

.accueil-2{
background-color: #31d8d0;
padding: 15px;
margin-left: 550px;
margin-top: 50px;
width: 700px;
height: auto;
display:flex;
border-radius: 25px;
}
